/* Margin and padding */
set-margin(class, position, max) 
  for index in (0..max) 
    {class}\.margin-{position}-{index} 
      margin-{position} 2.5rem * index

set-padding(class, position, max) 
  for index in (0..max) 
    {class}\.padding-{position}-{index} 
      padding-{position} 2.5rem * index

set-position(position, max) 
  for index in (0..max) 
    .{position}-{index} 
      position absolute
      {position} 2.5rem * index

set-width(parent) 
  for index in (0..20) 
    {parent}\.width-{index*5} 
      width 5% * index
      margin-left: auto;
      margin-right: auto;

/* Font size */
set-font-size-old(selector, font-size) 
  {selector}
    font-size font-size
    &.big
      font-size ($font-multiplier) * font-size
    &.small
      font-size (1 / $font-multiplier) * font-size
    &.very-small
      font-size (1 / $font-multiplier / $font-multiplier) * font-size

set-font-size(selector-prefix, selector-suffix, font-size) 
  {selector-prefix}
    {selector-suffix}
      font-size font-size
    &.big {selector-suffix}
      font-size ($font-multiplier) * font-size
    &.small {selector-suffix}
      font-size (1 / $font-multiplier) * font-size
    &.very-small {selector-suffix}
      font-size (1 / $font-multiplier / $font-multiplier) * font-size
