/* Margin and padding */
set-margin(class, position, max) 
  min = 0 - max
  for index in (min..max) 
    {class}\.margin-{position}-{index} 
      margin-{position} 2.5rem * index

set-padding(class, position, max) 
  min = 0
  for index in (min..max) 
    {class}\.padding-{position}-{index} 
      padding-{position} 2.5rem * index

set-position(position, max) 
  min = 0 - max
  for index in (min..max) 
    .{position}-{index} 
      position absolute
      {position} 2.5rem * index

set-width(parent) 
  for index in (0..20) 
    {parent}\.width-{index*5} 
      width 5% * index
      margin-left: auto;
      margin-right: auto;

/* Font size */
set-font-size(selector-prefix, selector-suffix, font-size) 
  if (unit(font-size) == 'em')
    multiplier = 1
  else 
    multiplier = $notes-multiplier
  {selector-prefix}
    {selector-suffix}
      font-size font-size
    &.big {selector-suffix}
      font-size ($font-multiplier) * font-size
    &.small {selector-suffix}
      font-size (1 / $font-multiplier) * font-size
    &.very-small {selector-suffix}
      font-size (1 / $font-multiplier / $font-multiplier) * font-size
  aside[role=notes]
    {selector-prefix}
      {selector-suffix}
        font-size font-size * multiplier
      &.big {selector-suffix}
        font-size ($font-multiplier) * font-size * multiplier
      &.small {selector-suffix}
        font-size (1 / $font-multiplier) * font-size * multiplier
      &.very-small {selector-suffix}
        font-size (1 / $font-multiplier / $font-multiplier) * font-size * multiplier

/* z-index */
set-zindex(max) 
  min = 0 - max
  for index in (min..max) 
    \.z-index-{index} 
      z-index: index

/* colors */
set-background-color(name, color) 
  .background-{name}
    background-color: color
  pre.source.background-{name} code
    background-color: color

set-text-color(name, color) 
  .text-{name}
    color: color
  pre.source.text-{name} code
    color: color
