article
  font-size $base-font-size

set-font-size('section', '', 1em)
set-font-size('p', '', 1em) 
set-font-size('span', '', 1em) 

h2
  font-size 1.3 * $base-font-size
set-font-size('h2 span', '', 1.3 * $base-font-size) 

ul, ol
  ul, ol
    li
      font-size unit(1 / $font-multiplier, 'em')
  &.level2 
    li
      font-size unit(1 / $font-multiplier, 'em')
      ul
        li
          font-size unit(1 / $font-multiplier, 'em')
set-font-size('div', 'ul li', $base-font-size)
set-font-size('ul', 'li', $base-font-size)
set-font-size('div', 'ol li', 1em) 

set-font-size('pre.source', '', $source-font-size) 
set-font-size('pre.source', 'code', $source-font-size) 
set-font-size('pre.source code span', '', $source-font-size) 

set-font-size('.uml', 'li', $uml-font-size) 
set-font-size('.uml', 'li span', $uml-font-size) 
set-font-size('.uml', 'li li', $uml-font-size * 0.9) 
set-font-size('.uml', 'li li span', $uml-font-size * 0.9) 

set-font-size('p', '', $base-font-size) 
set-font-size('div', 'p', $base-font-size) 

set-font-size('table', '', $table-font-size) 
set-font-size('table p', '', $table-font-size) 
set-font-size('table p span', '', $table-font-size) 
set-font-size('table', 'p', $table-font-size) 

set-font-size('.quote', '', $quote-font-size) 
set-font-size('.quote', 'p', $quote-font-size) 
.quote
  figcaption
    font-size 0.8em
    text-align right
    cite
      letter-spacing: -0.05em;

set-font-size('.admonitionblock', '', $admonition-font-size) 
.admonitionblock
  *
    font-size 1em

section
  &:after
    font-size 1.3rem
  &:before
    font-size 1rem

.long-title
  h2
    font-size: 3.7rem
