article
  font-size $base-font-size

set-font-size('section', '', $base-font-size)
set-font-size('p', '', $base-font-size) 

h2
  font-size 1.3 * $base-font-size

ul, ol
  ul, ol
    li
      font-size unit(1 / $font-multiplier, 'em')
  &.level2 
    li
      font-size unit(1 / $font-multiplier, 'em')
      ul
        li
          font-size unit(1 / $font-multiplier, 'em')
  
code
  font-size 1em
set-font-size('pre.source  ', '', $source-font-size) 
pre.source code
  font-size 1em

set-font-size('.uml', '', $uml-font-size) 
set-font-size('.uml li span', '', $uml-font-size * 0.9) 
set-font-size('.uml', 'li span', $uml-font-size * 0.9) 
set-font-size('.uml li li span', '', $uml-font-size * 0.8) 
set-font-size('aside[role=notes] .uml li span', '', $uml-font-size * $notes-multiplier)
set-font-size('aside[role=notes] .uml', 'li span', $uml-font-size * $notes-multiplier)
set-font-size('aside[role=notes] .uml li li span', '', $uml-font-size * $notes-multiplier * 0.9)

set-font-size('p', '', $base-font-size) 
set-font-size('table p', '', $table-font-size) 
set-font-size('aside[role="notes"] p', '', 1.5rem)

set-font-size('table', '', $table-font-size) 

set-font-size('.quote', '', $quote-font-size) 
.quote
  figcaption
    font-size 0.8em
    cite
      letter-spacing: -0.05em;

set-font-size('.admonitionblock', '', $admonition-font-size) 
.admonitionblock
  *
    font-size 1em

section
  &:after
    font-size 1.3rem
  &:before
    font-size 1rem

@media screen
  set-font-size('aside[role=notes]', '', 1.5rem)
  set-font-size('aside[role=notes] table', '', 1rem)
