$legacy = false unless $legacy is defined
if $legacy
  // Pour compatibilité avec l'ancien format Sewatech
  $print-border = none
  $border-margin-mm = 25mm
  $middle-margin-mm = 10mm
  $top-margin-mm = 20mm
  $bottom-margin-mm = 12mm
