$screen-ratio-width = 16 unless $screen-ratio-width is defined
$screen-ratio-height = 9 unless $screen-ratio-height is defined
$screen-ratio = $screen-ratio-width / $screen-ratio-height

$color-text = #222222 unless $color-text is defined

$copyright = "© sewatech" unless $copyright is defined
$footer-height = 7rem unless $footer-height is defined

$hands-on-image = url(../images/misc/hands-on.svg) unless $hands-on-image is defined
$hands-on-label = "Hands-on" unless $hands-on-label is defined

$skip-classes = ".hide, .hidden" unless $skip-classes is defined
